<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>
    <div id="react-content">@Raw(Model.prerenderedContent)</div>
    @foreach(var script in @Model.scripts) {
        <script src="@script"></script>
    }
</body>
</html>